/abstraktni_tridy.py
/cviceni_dedicnost.py
/cviceni_fce_objekty.py
/cviceni_funkce.py
/cviceni_metody.py
/cviceni_objekty.py
/cviceni_ojekty.py
/cviceni_slicing.py
/cvico_kniha.py
/cykly.py
/datove_tridy.py
/DB613750-36B2-4972-A5CE-9AC7B567F66C.png
/dedicnost.py
/domaci_ukol_4.py
/domacu_ukol2.py
/dom_ukol_3.py
/dvourozmerne_tabulky.py
/funkce.py
/funkce_objekty.py
/letenky_dedi.py
/metody.py
/mnoziny.py
/moduly.py
/n_tice.py
/objekty.py
/priklady_slovniky.py
/Slicing.py
/slovniky&cykly.py
/slovniky.py
/vlastni_fce.py
/zamestnanci_objekty.py